body {
    text-align: center;
    margin: 50;
    height: 200;

}

.board {
    font-size: 40px;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;  
}

.cell {
    width: 100%;
    height: 50px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 50px;
    overflow: hidden;
}

#turnDiv {
    font-size: 30px;
}

button {
    font-size: 30px;
}
